body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: gray;
  }
  
  #slideshow-container {
    position: relative;
    max-width: 800px;
    margin: auto;
  }

  .slideshow-image {
    display: none;
    width: 600px; 
    height: 400px; 
    object-fit: cover; 
    margin: auto;
  }

  .image-description {
    margin-top: 10px;
  }

  .prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0; 
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0; 
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }